<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://unpkg.com/onsenui/css/onsenui.css">
  <link rel="stylesheet" href="https://unpkg.com/onsenui/css/onsen-css-components.min.css">
  <script src="https://unpkg.com/onsenui/js/onsenui.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
  <script src="ejs.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.5.0/firebase.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.3.0/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.4.1/firebase-firestore.js"></script>
  <script src="cordova.js"></script>


  <script>
    // Initialize Firebase
    var config = {
      apiKey: "AIzaSyDucXID_-K8ke10dz8lvoA3PYHY4w6OQJI",
      authDomain: "shopee-77a26.firebaseapp.com",
      databaseURL: "https://shopee-77a26.firebaseio.com",
      projectId: "shopee-77a26",
      storageBucket: "shopee-77a26.appspot.com",
      messagingSenderId: "23415238409"
    };
    firebase.initializeApp(config);

    // Initialize Cloud Firestore through Firebase
    var db = firebase.firestore();

    // Disable deprecated features
    db.settings({
      timestampsInSnapshots: true
    });
  </script>
  <title>Document</title>
</head>

<body>
  <ons-navigator swipeable id="myNavigator">
    <ons-page>

      <ons-toolbar style="background-color: rgba(42, 121, 167, 0.699)">
        <div class="left">
          <ons-toolbar-button>
            <ons-icon icon="ion-qr-scanner" style="color:white"onclick="scanQR()"></ons-icon>
          </ons-toolbar-button>
        </div>
        <div class="center" style="text-align:center;color: aliceblue" id="appname">#</div>
        <div class="right">
          <ons-toolbar-button>
            <ons-icon style="color:white" onclick="window.location.href='logout.html'"><i class="fas fa-sign-out-alt"></i></ons-icon>
          </ons-toolbar-button>
        </div>
      </ons-toolbar>

      <ons-tabbar swipeable position="auto" id="tabbar">
        <ons-tab page="home.html" label="Home" icon="ion-home, material:md-home">
        </ons-tab>
        <ons-tab page="product.html" label="product"><i class="fab fa-product-hunt , material:md-product"></i>
        </ons-tab>
        <ons-tab page="cart.html" label="Cart" icon="md-shopping-cart">
        </ons-tab>


      </ons-tabbar>
      <div class="page__background"></div>

    </ons-page>
  </ons-navigator>



  <template id="home.html">
    <ons-page>

      <p style="text-align: center; margin-top: 10px;">
        <ons-search-input placeholder="Search" onchange="search(this.value)"></ons-search-input>
      </p>
      <div id="promotion"></div>
      <script id="promotion_template" type="text/template">
       
        <ons-carousel fullscreen swipeable auto-scroll overscrollable id="carousel" style="height: 300px;">  <% promotion.forEach(function(data){   
            
          %>
          <ons-carousel-item id="carousel1" style="background: url('/<%= data %>')no-repeat center;background-size: contain;">
  
          </ons-carousel-item>
         <%});%>
        </ons-carousel> </script>
      <!--/////////////////////////////////////////////////////////////////////////////-->
      <div>


        <div id="icon"></div>
        <script id="icon_template" type="text/template"> 
                    <ons-row class="category" style="text-align:center">      
                          <% categories.forEach(function(category){%>
                      <ons-col modifier="nodivider" id="  " onclick="changeTab('<%= category.name %>')"width="33%"value="<%= category.name %>">
                          <div class="category_wrapper">
                              <figure class="category_thumbnail"> 
                                  <ons-icon id="icon1" icon="<%= category.icon %>" style="color:white"></ons-icon>
                                  <div class="category_title" id="Category_1_name"style="color:white"> <%= category.name %> </div>
                               </figure> 
                          </div>
                      </ons-col>
  
                      <%});%></div>
                      </Script>




      </div>

      <style type="text/css">
        .category_wrapper {
          width: 90%;
          margin: auto;
          background-color: rgba(42, 121, 167, 0.699);
          border: 5px solid;
          border-color: white;
        }

        .category_wrapper ons-icon {
          font-size: 55px;
          padding-top: 10px;
          line-height: 0.75em;
        }

        .category_thumbnail {
          display: inline-block;
          margin: 16px 0px;
        }

        * {
          font-family: 'Patua One', cursive;
        }

        .page,
        .page__background,
        .page__content {
          background-color: rgba(215, 219, 219, 0.925);
          position: absolute;
        }
      </style>
    </ons-page>
  </template>

  <template id="cart.html">
    <ons-page id="Tab2">
      <h1>
        <ons-list-header>SHOPPING CART</ons-list-header>
      </h1>

      <div id="bucket"></div>
      <script id="bucket_template" type="text/template"> 
                      <% cart.forEach(function(cart){
                        var cart=cart.data()
                        %>
              <ons-list-item>
                  <div class="left">
                      <img class="list-item__thumbnail" src="<%= cart.pic[0] %>">
                    
                  </div>
                  <div class="center">
                      <span class="list-item__title"><%= cart.title %></span>
                      <span class="list-item__subtitle" style="color: blue;"><%= cart.price %> ฿</span>
                  </div>
                  <div class="right">
  
                      <ons-icon  icon="md-delete" ></ons-icon>
                    
                      
              </ons-list-item><%});%> 
  
          </Script>
      </div>


      <ons-button modifier="large">PROCEED TO PAY</ons-button>

    </ons-page>
  </template>


  <template id="product.html">
    <ons-page>
      <h1></h1>
      <p style="text-align: center; margin-top: 10px;">
        <ons-search-input placeholder="Search" onchange="search(this.value)"></ons-search-input>
      </p>
      <div id="product"></div>
      <script id="product_template" type="text/template"> 
   <ons-row>
          <% product.forEach(function(product){
            var products = product.data();
            %>
  <ons-col width="33%" >
      <ons-card style="width:90%; height:93%" onclick="detail('<%- products.pid %>')">
          <img class="" src="<%= products.pic[0] %>" width="99%"height="70px"><br>
  <%= products.category %><br>
  <%= products.title %><br>
  ฿<%= products.price %>
    </ons-card></ons-col>
  
  <%});%> 
   </ons-row>
  </script>
    </ons-page>
    </div>


  </template>


  <template id="detail.html">
    <ons-page>

      <ons-toolbar>
        <div class="left">
          <ons-back-button>Back</ons-back-button>
        </div>
        <div class="center">Detail</div>
      </ons-toolbar>

      <div id="detail"></div>

      <script id="detail_template" type="text/template">
  
              <% detail.forEach(function(data){   
                    var data = data.data(); %>
                <ons-card>
                    <ons-carousel swipeable auto-scroll overscrollable id="carousel" style="height: 300px;">
                       
                      
                          <ons-carousel-item id="carousel1Datail" style="background: url('<%= data.pic[0] %>') no-repeat center; background-size: contain;">
                          </ons-carousel-item>
                          <ons-carousel-item id="carousel2Datail" style="background: url('<%= data.pic[1] %>') no-repeat center; background-size: contain;">
                          </ons-carousel-item>
                          <ons-carousel-item id="carousel3Datail" style="background: url('<%= data.pic[2] %>') no-repeat center; background-size: contain;">
                          </ons-carousel-item>
            
                   </ons-carousel>
                   
                    
                    <div class="title">
                        
                        <center> <%= data.price %></center>
                    </div>
                    <div class="content">
                      <div >
                       <center> <%= data.title %></center><br>
                      </div>
                      
                    </div>
                    <center><ons-button onclick="addtocart('<%= data.pid %>');totalprice('<%= data.price%>')">ADD TO CART</ons-button></center>
                    <%})%>
                  </ons-card>
                  
             </script>

    </ons-page>

  </template>





  <script>
    var prev = function () {
      var carousel = document.getElementById('carousel');
      carousel.prev();
    };
    var next = function () {
      var carousel = document.getElementById('carousel');
      carousel.next();
    };
    ons.ready(function () {
      var carousel = document.addEventListener('postchange', function (event) {
        console.log('Changed to ' + event.activeIndex)
      });
    });</script>
  <script>
    getHomeData()
    tatol();
    document.addEventListener('prechange', function (event) {
      if (event.index == 0) {
        console.log('Home click');
        getHomeData()
      }
      else if (event.index == 1) {
        console.log('product click');
        var name = localStorage.getItem('name');
        var items = localStorage.getItem('items');
        if (name == null && items == null) {
          getproductData()
        }
        else if (name != null && items == null) { getproductData(name) }
        else if (name != null && items == null) { }
      } else if (event.index == 2) {
        console.log('Cart click');
        dataToCart()
      } else if (event.index == 3) {
        var title = localStorage.getItem('title');
        console.log('detail click');

      } localStorage.clear();
    });

    //homeData
    function getHomeData() {
      var code = localStorage.getItem('code');
      if (code == null) {
        var docRef = db.collection("UI").doc("home");
        docRef.get().then(function (doc) {
          if (doc.exists) {
            console.log("Document data:", doc.data());
            var data = doc.data();
            $('#appname').html(data.appname);
            var style = "background: url('" + data.slides[0] + "')no-repeat center;background-size: contain;";
            $('#carousel1').attr('style', style);
            $('#icon1').attr('icon', data.categories[0].icon);
            $('#Category_1_name').html(data.categories[0].name);
            var icon_template = $('#icon_template').html();
            var html = ejs.render(icon_template, { categories: data.categories });
            $('#icon').html(html);
            console.log(data.slides[0])
            var promotion_template = $('#promotion_template').html();
            var html = ejs.render(promotion_template, { promotion: data.slides });
            $('#promotion').html(html);
          } else {
            // doc.data() will be undefined in this case
            console.log("No such document!");
          }
        }).catch(function (error) {
          console.log("Error getting document:", error);
        });
      } else { detail(code)
        var docRef = db.collection("UI").doc("home");
        docRef.get().then(function (doc) {
          if (doc.exists) {
            console.log("Document data:", doc.data());
            var data = doc.data();
            $('#appname').html(data.appname);
            var style = "background: url('" + data.slides[0] + "')no-repeat center;background-size: contain;";
            $('#carousel1').attr('style', style);
            $('#icon1').attr('icon', data.categories[0].icon);
            $('#Category_1_name').html(data.categories[0].name);
            var icon_template = $('#icon_template').html();
            var html = ejs.render(icon_template, { categories: data.categories });
            $('#icon').html(html);
            console.log(data.slides[0])
            var promotion_template = $('#promotion_template').html();
            var html = ejs.render(promotion_template, { promotion: data.slides });
            $('#promotion').html(html);
          } else {
            // doc.data() will be undefined in this case
            console.log("No such document!");
          }
        }).catch(function (error) {
          console.log("Error getting document:", error);
        });
      }


    }
    //cartdata
    function getCartData() {
      var docRef = db.collection("UI").doc("cart");
      docRef.get().then(function (doc) {
        if (doc.exists) {
          console.log("Document data:", doc.data());
          var data = doc.data();
          var bucket_template = $('#bucket_template').html();
          var html = ejs.render(bucket_template, { cart: data.cart });
          $('#bucket').html(html);
        } else {
          // doc.data() will be undefined in this case
          console.log("No such document!");
        }
      }).catch(function (error) {
        console.log("Error getting document:", error);
      });

    }
    //productdata
    function getproductData(name) {
      console.log(name);
      if (name == null) {
        db.collection("PRODUCTS").get()
          .then(function (querySnapshot) {
            var product_template = $('#product_template').html();
            console.log(querySnapshot.docs);
            var html = ejs.render(product_template, { product: querySnapshot.docs });
            $('#product').html(html);
          })
          .catch(function (error) {
            console.log("Error getting documents: ", error);
          });
      } else {
        db.collection("PRODUCTS").where("category", "==", name).get()
          .then(function (querySnapshot) {
            console.log(querySnapshot.docs);
            if (querySnapshot.docs.length == 0) {

              var html = "<h1 style='text-align: center'> No items in the list.</h1>"

              db.collection("PRODUCTS").get()
                .then(function (querySnapshot) {
                  var product_template = $('#product_template').html();
                  console.log(querySnapshot.docs);
                  html = ejs.render(html, { product: querySnapshot.docs });
                  $('#product').html(html);
                })
                .catch(function (error) {
                  console.log("Error getting documents: ", error);
                });
            } else {
              db.collection("PRODUCTS").where("category", "==", name).get()
                .then(function (querySnapshot) {
                  console.log(querySnapshot.docs);
                  var product_template = $('#product_template').html();
                  var html = ejs.render(product_template, { product: querySnapshot.docs });
                  $('#product').html(html);
                })
                .catch(function (error) {
                  console.log("Error getting documents: ", error);
                });
            }

          })
      }
    }
    function changeTab(name) {
      console.log(name)
      document.getElementById('tabbar').setActiveTab(1);
      localStorage.setItem('name', name);

    }
    //detail
    function detail(pid) {
      localStorage.setItem('id', pid);
      myNavigator.pushPage('detail.html')
      showdetail()

    }
    function showdetail() {
      var id = localStorage.getItem('id');
      db.collection("PRODUCTS").where("pid", "==", id).get()
        .then(function (querySnapshot) {
          console.log(querySnapshot.docs);
          var detail_template = $('#detail_template').html();
          var html = ejs.render(detail_template, { detail: querySnapshot.docs });
          $('#detail').html(html);
        })
        .catch(function (error) {
          console.log("Error getting documents: ", error);
        });
      localStorage.clear();
    }

    //search
    function search(search) {
      const filterItems = (needle, heystack) => {
        let query = needle.toLowerCase();
        return heystack.filter(item => item.data().title.toLowerCase().indexOf(needle) >= 0);
      }
      var item = filterItems(search, data);
      localStorage.setItem('items', item);
      get_itam(item);
      document.getElementById('tabbar').setActiveTab(1);
    }
    const data = []
    function tatol() {
      console.log(search);
      db.collection("PRODUCTS").get()
        .then(function (querySnapshot) {
          querySnapshot.docs.forEach(function (item) {
            data.push(item)
            console.log(data)
          });

        })
    }
    var dataCart = [];
    function addtocart(addCart) {
      localStorage.clear('quentinTarantino');
      localStorage.setItem('quentinTarantino', addCart);
      var retrievedData = localStorage.getItem("quentinTarantino");
      dataCart.push(retrievedData);
      ons.notification.toast('Add "' + retrievedData + '" To Cart Success !!!', { timeout: 2000 });
      $('.alertcart').attr('badge', dataCart.length);
    }
    function get_itam(title) {
      console.log('get_itam', title);
      var product_template = $('#product_template').html();
      var html = ejs.render(product_template, { product: title });
      $('#product').html(html);
    }
    //add data to cart
    function dataToCart() {
      var testnum = 0;
      $('#bucket').html('');
      dataCart.forEach(function (dataCart) {
        var apr = db.collection("PRODUCTS").where("pid", "==", dataCart);
        apr.get().then(function (querySnapshot) {
          console.log(querySnapshot.docs)
          var bucket_template = $('#bucket_template').html();
          var html = ejs.render(bucket_template, { cart: querySnapshot.docs, num: testnum });
          console.log(html);
          $('#bucket').append(html);
          testnum = testnum + 1;
        })
      })

    }


    function scanQR() {
      window.location.href = 'scan.html'
    }

  </script>

</html>