service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      allow read, write;
    }  match /recommended/{allPaths=**} {
      allow read, write;
    }
  }
}
